.container{
    background-color: lightgrey;
}

.form_center {
    margin: auto;
    padding: 20px;
    margin-top: 20%;
    text-align: center;
    background-color: white;
    width: 30%;
    line-height: 25px;
    height: 125px;
    justify-content: center;
}

.name_label {
    margin-top: auto;
    margin-bottom: auto;
    font-size: large;
    font-weight: bold;
    padding: 5px;
}

.submit_box {
    background-color: rgb(48, 48, 253);
    border-color: rgb(48, 48, 253);
    color: white;
    margin-left: 5px;
}

td {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    font-size: 3em;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

